.header {
   background-color: #CFC4FB;
  width:auto;
  height:auto;
  padding:5px;
position:relative;
text-align:center;
overflow:hidden;
font-size: 15px;
}

body {
background-color: #E1DBF8
}

div {
  background-color: #CFC4FB;
  border: 5px ridge #64569B;
  width:auto;
  height:auto;
  padding:5px;
  margin:15px;
position:relative;
text-align:center;
overflow:hidden;
}

.footer {
   background-color: #CFC4FB;
  width:auto;
  height:auto;
  padding:5px;
position:relative;
text-align:center;
overflow:hidden;
}

a {
  color: #9386C3;
  font-family: Tahoma, Geneva, sans-serif;
}

a:hover {
  color: #FFF;
}

body {
  color: #9386C3;
  font-family: Tahoma, Geneva, sans-serif
}

h1 {
  color: #9386C3;
  font-family: Tahoma, Geneva, sans-serif
  padding: 0px;
  margin: 0px;
}

h2 {
  color: #9386C3;
  font-family: Tahoma, Geneva, sans-serif
  padding: 0px;
  margin: 0px;
}

p {
  color: #9386C3;
  font-family: Tahoma, Geneva, sans-serif;
  padding: 0px;
  margin: 0px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9966ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9966ff;
}

img {
  max-width: 100%;
  height: auto;
}