.header {
   background-color: #ffad99;
  width:auto;
  height:auto;
  padding:5px;
position:relative;
text-align:center;
overflow:hidden;
font-size: 15px;
}

body {
background-color: #ffad99;
}

div {
  background-color: #ffad99;
  border: 5px ridge #991f00;
  width:auto;
  height:auto;
  padding:5px;
  margin:15px;
position:relative;
text-align:center;
overflow:hidden;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
   background-color: #ffad99;
  width:auto;
  height:auto;
  padding:5px;
position:relative;
text-align:center;
overflow:hidden;
}

a {
  color: #ff3300;
  font-family: Tahoma, Geneva, sans-serif;
}

a:hover {
  color: #FFF;
}

body {
  color: #ff3300;
  font-family: Tahoma, Geneva, sans-serif
}

h1 {
  color: #ff3300;
  font-family: Tahoma, Geneva, sans-serif
}

p {
  color: #ff3300;
  font-family: Tahoma, Geneva, sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffebe6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff3300;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff3300;
}

img {
  max-width: 100%;
  height: auto;
}