.header {
   background-color: #955784;
  width:auto;
  height:auto;
  padding:5px;
position:relative;
text-align:center;
overflow:hidden;
font-size: 15px;
}

body {
background-color: #955784;
}

div {
  background-color: #955784;
  border: 5px ridge #301c2b;
  width:auto;
  height:auto;
  padding:5px;
  margin:15px;
position:relative;
text-align:center;
overflow:hidden;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
display: grid;
}

.row:after {
  content: "";
  display: grid;
  clear: both;
}

.footer {
   background-color: #955784;
  width:auto;
  height:auto;
  padding:5px;
position:relative;
text-align:center;
overflow:hidden;
}

hr {
  border: 5px solid #301c2b;
}

a {
  color: #603956;
  font-family: Tahoma, Geneva, sans-serif;
}

a:hover {
  color: #FFF;
}

body {
  color: #603956;
  font-family: Tahoma, Geneva, sans-serif
}

h1 {
  color: #603956;
  font-family: Tahoma, Geneva, sans-serif
}

p {
  color: #603956;
  font-family: Tahoma, Geneva, sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffebe6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #603956;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #603956;
}

img {
  max-width: 100%;
  height: auto;
}