/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

.sidenavright {
  height: 90%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #CFC4FB;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenavright a {
  padding: 6px 6px 6px 6px;
  text-decoration: none;
  font-size: 15px;
  color: #9386C3;
  display: block;
}

.sidenavright a:hover {
  color: #fff;
}

.sidenavleft {
  height: 90%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #CFC4FB;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenavleft a {
  padding: 6px 6px 6px 6px;
  text-decoration: none;
  font-size: 15px;
  color: #9386C3;
  display: block;
}

.sidenavleft a:hover {
  color: #fff;
}

.header {
   background-color: #CFC4FB;
  width:relative;
  height:auto;
  padding:5px;
position:relative;
text-align:center;
overflow:hidden;
}

body {
  margin-left: 350px;
  margin-right: 350px;
background-color: #E1DBF8
}

div {
  background-color: #CFC4FB;
  border: 5px ridge #64569B;
  width:relative;
  height:auto;
  padding:10px;
  margin:30px;
position:relative;
text-align:center;
overflow:hidden;

}

.footer {
   background-color: #CFC4FB;
  width:relative;
  height:auto;
  padding:5px;
position:relative;
text-align:center;
overflow:hidden;
}


a {
  color: #9386C3;
  font-family: Tahoma, Geneva, sans-serif;
}

a:hover {
  color: #FFF;
}

body {
  color: #9386C3;
  font-family: Tahoma, Geneva, sans-serif
}

h1 {
  color: #9386C3;
  font-family: Tahoma, Geneva, sans-serif
}
p {
  color: #9386C3;
  font-family: Tahoma, Geneva, sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9966ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9966ff;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 600px) {
  .sidenavleft a {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .sidenavright a {
    float: none;
    width: 100%;
  }
}